# ============================
# Python
# ============================

__pycache__/
*.py[cod]
*$py.class

# ============================
# Virtual Environment
# ============================

venv/
.venv/
env/

# ============================
# Jupyter
# ============================

.ipynb_checkpoints/

# ============================
# VS Code
# ============================

.vscode/

# ============================
# Pytest
# ============================

.pytest_cache/

# ============================
# Model Files
# ============================

models/*.pkl
models/*.joblib

# ============================
# Data Files
# ============================

data/raw/*.parquet
data/raw/*.csv

# ============================
# Reports
# ============================

reports/figures/

# ============================
# OS Files
# ============================

.DS_Store
Thumbs.db

# ============================
# Logs
# ============================

*.log